<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>

<p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getPublicationYear()}">VALUE</p>

<div th:unless="${owner}">
    <p>Эта книга свободна. Кому её назначить?</p>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getBookId()})}">
        <label for="owner">Выберите человека: </label>
        <select th:object="${newOwner}" th:field="*{personId}" id="owner">
            <option th:each="person : ${people}" th:value="${person.getPersonId()}" th:text="${person.getName()}">name</option>
        </select>

        <input type="submit" value="Назначить книгу" />
    </form>
</div>

<div th:if="${owner}">
    <p th:text="'Книга сейчас у: ' + ${owner.getName()}">VALUE</p>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getBookId()})}">
        <input type="submit" value="Освободить книгу" />
    </form>
</div>

<hr style="width: 25%;text-align:left;margin-left:0"/>

<form th:action="@{/books/{id}/edit(id=${book.getBookId()})}">
    <button type="submit">Редактировать</button>
</form>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBookId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>